@{
    ViewBag.Title = "Angular Dota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="LandingPageController">
    <ul class="flex-container" >
        <li ng-repeat="model in models">
            <img ng-src="{{model.avatar.sm}}" title="{{model.info.name}}" />
        </li>
        
    </ul>
</div>